# Emergency Presentation analysis for paper

In [1]:
import pyodbc
import pandas as pd  # sure takes a long time

## SQL setup

In [2]:
conn = pyodbc.connect("DRIVER={SQL Server};SERVER=VHACDWRB03;DATABASE=ORD_Singh_202001030D")

# other stuff you can do with a connection but we won't
# cursor = conn.cursor()
# cursor.description  # gives you column names
# cursor.execute(sql)
#for i, row in enumerate(cursor):
#    if i < 20:
#        print(row)
# conn.close()

## Pandas setup

In [17]:
info_str = "select * from information_schema.tables where table_name like '%ppko%master%'"
info_df = pd.read_sql(sql=info_str, con=conn)

In [18]:
display(info_df)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
0,ORD_Singh_202001030D,Dflt,_ppko_CRC_2019_MASTER_TABLE,BASE TABLE
1,ORD_Singh_202001030D,Dflt,_ppko_CRC_2019_MASTER_TABLE_NOID,BASE TABLE
2,ORD_Singh_202001030D,Dflt,_ppko_LCa_2019_MASTER_TABLE,BASE TABLE
3,ORD_Singh_202001030D,Dflt,_ppko_LCa_2019_MASTER_TABLE_NOID,BASE TABLE

In [26]:
sql_str = "Select * from dflt._ppko_CRC_2019_MASTER_TABLE"
X = pd.read_sql(sql=sql_str, con=conn)

In [27]:
ds = X.shape
ds

(2310, 16)

In [28]:
list(X)

['PatientSSN',
 'PatientSID',
 'DiagnosticEventDateTime',
 'StageOfCancer',
 'PatientSex',
 'PatientAge',
 'PatientRace',
 'DeathDateTime',
 'EmergencyEventDate',
 'EP',
 'Time90',
 'Time180',
 'Time365',
 'DeathStatus90',
 'DeathStatus180',
 'DeathStatus365']

# Analysis (colon)

## Age (flagged, not flagged, all)

In [71]:
X[['PatientAge', 'EP']].groupby(by="EP").describe()

   PatientAge
        count       mean        std   min   25%   50%   75%   max
EP
0      1755.0  68.981766  10.450934  33.0  63.0  70.0  75.0  98.0
1       555.0  71.216216  12.108270  30.0  64.0  72.0  80.0  97.0

In [74]:
X[['PatientAge']].describe()

        PatientAge
count  2310.000000
mean     69.518615
std      10.911326
min      30.000000
25%      63.000000
50%      71.000000
75%      76.000000
max      98.000000

## Categorical (flagged, not flagged, all)

In [79]:
categorical_vars = [
    'StageOfCancer',
    'PatientSex',
    'PatientRace',
]

for df in [X.groupby(by='EP'), X]:
    for v in categorical_vars:
        display(df[v].value_counts())
    print('----\n\n\n')

EP  StageOfCancer
0   0                1133
    1                 207
    3                 171
    2                 133
    4                 111
1   0                 339
    4                  73
    3                  58
    2                  49
    1                  36
Name: StageOfCancer, dtype: int64

EP  PatientSex
0   1             1669
    2               86
1   1              531
    2               24
Name: PatientSex, dtype: int64

EP  PatientRace
0   1              1193
    2               374
    3               105
    4                83
1   1               378
    2               111
    3                40
    4                26
Name: PatientRace, dtype: int64

----

0    1472
1     243
3     229
4     184
2     182
Name: StageOfCancer, dtype: int64

1    2200
2     110
Name: PatientSex, dtype: int64

1    1571
2     485
3     145
4     109
Name: PatientRace, dtype: int64

----